extends ../_layout.jade

block append head-meta
  meta(name='title', content='Stories — Global Forest Watch Fires')
  meta(name='description', content='Submit a story to confirm or refute remotely sensed data, report illegal activities, call attention to a threat or conflict in your area, tell a fire response success story, or share your local expertise.')
  meta(name='keywords', content='Active Fires, air quality, alerts, ASEAN, burn scars, commodities, concessions, conservation, deforestation, deforesting, fire, fire response, fires, forest analysis, forest clearing, forest fires, forest loss, forest monitoring, forest news, forest use, forest watch, GFW, GIS, greenhouse gases, ground truth, haze, illegal fires, illegal, imagery, Indonesia, land cover, land fires, local, map, mapping, maps, monitoring, NASA, NOAA, oil palm, peat, peat soils, peatland, pollution, real-time, respiratory, satellite, slash-and-burn, smoke, Southeast Asia, story, stories, tree cover loss, trees, visualize, wind direction, wood pulp')

block append head-styles
  link(rel='icon', href='../css/images/favicon.png')
  link(rel='stylesheet', href='https://js.arcgis.com/3.20/esri/css/esri.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
  //- link(rel='stylesheet', href='../vendors/kalendae/build/kalendae.css')
  style
    :stylus
      @require 'css/_critical'

block append head-scripts
  script(src='../vendors/kalendae/build/kalendae.standalone.js', async)
  script.
    var base = location.pathname.replace(/\/[^/]+$/, '');
    var dojoConfig = {
      parseOnLoad: false,
      async: true,
      cacheBust: 'version',
      packages: [
        { name: 'js', location: base + 'js' }
      ],
      deps: [
        'js/story',
        'dojo/domReady!'
      ],
      callback: function (story) {}
    };
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-35900039-4', 'auto', {'name':"A"});
    ga('A.send', 'pageview');
    ga('create', 'UA-1981181-14', 'auto', {'name':"B"});
    ga('B.send', 'pageview');
    ga('create', 'UA-48182293-1', 'auto', {'name':"C",'cookieDomain':"'fires.globalforestwatch.org']"});
    ga('C.send', 'pageview');
    if (window.top !== window.self) {
      var payload = {
        'hitType': 'event',
        'eventCategory': 'Event',
        'eventAction': 'embed',
        'eventLabel': 'iFrame Embed',
        'eventValue': 'This application was viewed inside an embedded iFrame.'
      };
      ga('A.send', payload);
      ga('B.send', payload);
      ga('C.send', payload);
    }
  script.
    window.liveSettings = {
      api_key: "c0d190e8efe94881b66b5bb38ebaece3",
      detectlang: false,
      site: 'gfw-fires',
      //- picker: '#customTransifex',
      //- picker: 'bottom-left',
      picker: '#transifexTranslateElement'//,
      //- version: 'latest',
      //- autocollect: true,
      //- dynamic: true,
      //- staging: true
      //- parse_attr: ["attr1", "attr2", ...],
      //- ignore_tags: ["tag1", "tag2", ...],
      //- ignore_class: ["classname1", "classname2"]
    };

block content

  div#transifexContainer
    div#customTransifex

  div#success-modal.modal.hidden
    div.modal-container
      div#modal-background.modal-background
      div.modal-window
        div.modal-wrapper.custom-scroll
          div.modal-content
            div.modal-source
            div.modal-title Submit successful
            div
              p Your story was successfully submitted! You will now be redirected to the map.
              div
                 a.text-gfw-red(href='../map') OK

  div#failure-modal.modal.hidden
    div.modal-container
      div#modal-background.modal-background
      div.modal-window
        div.modal-wrapper.custom-scroll
          div.modal-content
            div.modal-source
            div.modal-title Submit failure
            div
              p There was an error during submission! Please try again at a later time.
              div
                a#closeModal.text-gfw-red OK

  section.header-container
    h1.text-center.font-normal #{story.title}

  section.form-section
    div.story-form
      form#story-form(novalidate)
        div#story-title-container.field
          label#story-title-label #{story.form.title[0]}
          span.required #{story.form.title[1]}
          div: input#story-title-input(type='text' required='true' placeholder='#{story.form.title[2]}')

        div#story-affected-areas-container.field
          label#story-affected-areas-label #{story.form.affectedAreas[0]}
          p.description #{story.form.affectedAreas[1]}
          div#map-container.map-container
            div#search.search-container
            div#map
              div#basemap-container.basemap-container(style="position:absolute; right:10px; top:10px; z-Index:999;")
                div(data-dojo-type='dijit/TitlePane', data-dojo-props="title:'Basemaps', closable:false, open:false")
                  div(data-dojo-type='dijit/layout/ContentPane', style='width:250px; height:220px; overflow:auto;')
                    div#basemapGallery

        div#story-location-container.field
          label #{story.form.location[0]}
          div: input#story-location-input(type='text' placeholder='#{story.form.location[1]}')

        div#story-date-container.field
          label #{story.form.date}
          input#story-date-input

        div#story-details-container.field
          label #{story.form.details[0]}
          textarea#story-details-textarea(placeholder='#{story.form.details[1]}')

        div#story-video-container.field
          label #{story.form.video[0]}
          p.description #{story.form.video[1]}
          input#story-video-input(type='text' placeholder='https://www.youtube.com/watch?v=ITG-0brb98I')

        div#story-media-container.field
          label #{story.form.media[0]}
          p.description #{story.form.media[1]}
          input#story-media-input(type='file')

        div#story-name-container.field
          label #{story.form.name[0]}
          span.optional #{story.form.name[1]}
          input#story-name-input(type='text')

        div#story-email-container.field
          label#story-email-label #{story.form.email[0]}
          span.required #{story.form.email[1]}
          p.description #{story.form.email[2]}
          input#story-email-input(type='email' required='true')

      div: button#submit-button.submit-button #{story.form.submit}

    div.story-details
      h5 #{story.details[0]}
      p #{story.details[1]}

      h5 #{story.details[2]}
      p #{story.details[3]}
      p #{story.details[4]}
      p #{story.details[5]}
      ul
        li #{story.details[6]}
        li #{story.details[7]}
        li #{story.details[8]}
        li #{story.details[9]}

  script(src = 'https://js.arcgis.com/3.20/init.js')

  script.
    $(document).ready(function () {
      document.getElementById('closeModal').onclick = function () { document.getElementById('failure-modal').classList.toggle('hidden'); };
    });
