extends ../_layout.jade

block append head-meta
  title #{story.meta.title}

block append head-styles
  link(rel='stylesheet', href='../vendor/kalendae/build/kalendae.css')
  style
    :stylus
      @require 'css/_critical'

block append head-scripts
  script(src='../vendor/kalendae/build/kalendae.standalone.js', async)

block content
  +navigation(global.pages, 'story')

  section.header-container
    h1.text-center.font-normal #{story.title}

  section.form-section
    div.story-form
      div.title-container
        lable #{story.form.title[0]}
        span.required #{story.form.title[1]}
        div: input(type='text' placeholder='#{story.form.title[2]}')

      br
      div.affected-areas-container
        label #{story.form.affectedAreas[0]}
        p.desciption #{story.form.affectedAreas[1]}
        div TODO: map

      br
      div.location-container
        label #{story.form.location[0]}
        div: input(type='text' placeholder='#{story.form.location[1]}')

      br
      div.date-container
        label #{story.form.date}
        input(type="text" placeholder="2/16/2012" class="auto-kal" data-kal="direction: 'today-past'")

      br
      div.details-container
        label #{story.form.details[0]}
        textarea(placeholder='#{story.form.details[1]}')

      br
      div.video-container
        label #{story.form.video[0]}
        p.desciption #{story.form.video[1]}
        input(type='text' placeholder='http://www.youtube.com/watch?v=ITG-0brb98I')

      br
      div.media-container
        label #{story.form.media[0]}
        p.desciption #{story.form.media[1]}
        input(type='file')

      br
      div.name-container
        label #{story.form.name[0]}
        span.optional #{story.form.name[1]}
        input(type='text')

      br
      div.email-container
        label #{story.form.email[0]}
        span.required #{story.form.email[1]}
        p.desciption #{story.form.email[2]}
        input(type='text')

      br
      div: button.submit-button #{story.form.submit}

    div.story-details
      h5 #{story.details[0]}
      p #{story.details[1]}

      h5 #{story.details[2]}
      p #{story.details[3]}
      p #{story.details[4]}
      ul
        li #{story.details[5]}
        li #{story.details[6]}
        li #{story.details[7]}
        li #{story.details[8]}
