extends ../_layout.jade

block append head-styles
  link(rel='stylesheet', href='css/map.css?#{meta.version}')
  link(rel='stylesheet', href='http://js.arcgis.com/#{meta.esriVersion}/esri/css/esri.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300')
  link(rel='stylesheet', href='../vendor/kalendae/build/kalendae.css')
  style
    :stylus
      @require 'css/_base'
      @require 'css/_critical'

block append head-scripts
  script(src='../vendor/jquery/dist/jquery.min.js')
  script(src='../vendor/kalendae/build/kalendae.standalone.js', async)
  script.
    var base = location.pathname.replace(/\/[^/]+$/, '/');
    var dojoConfig = {
      parseOnLoad: false,
      async: true,
      cacheBust: 'v=#{meta.version}',
      packages: [
        { name: 'js', location: base + 'js' },
        { name: 'utils', location: base + 'js/utils' },
        { name: 'stores', location: base + 'js/stores' },
        { name: 'helpers', location: base + 'js/helpers' },
        { name: 'actions', location: base + 'js/actions' },
        { name: 'components', location: base + 'js/components' },
        { name: 'vendor', location: base + '../vendor' }
      ],
      aliases: [
        ['alt', 'vendor/alt/dist/alt.min'],
        ['react', 'vendor/react/react.min'],
        ['react-dom', 'vendor/react/react-dom.min'],
        ['react-motion', 'vendor/react-motion/build/react-motion'],
        ['lodash', 'vendor/lodash/lodash.min'],
        ['babel-polyfill', 'vendor/babel-polyfill/browser-polyfill'],
        ['formsy-react', 'vendor/formsy-react/release/formsy-react'],
        ['chosen', 'vendor/chosen/chosen.jquery']
      ],
      deps: ['dojo/domReady!'],
      callback: function () {
        // Set up globals
        window.app = {
          version: '#{meta.version}',
          debugEnabled: true,
          mobile: function () {return (window.matchMedia === undefined ? false : window.matchMedia('only screen and (max-width: 850px)').matches)},
          debug: function (message) {
            if (this.debugEnabled) {
              var print = typeof message === 'string' ? console.log : console.dir;
              print.apply(console, [message]);
            }
          }
        };
        require(['js/main']);
      }
    };

block content
  +navigation(global.pages, 'map', true)
  include html/_svgAssets.jade
  div#root.layout-content
  div#layer-modal.modal.hidden
  div#canopy-modal.modal-wrapper.hidden
  div#basemap-modal.modal.hidden
  div#calendar-modal.modal.hidden
  div#subscription-modal.modal.hidden
  script(src='http://js.arcgis.com/#{meta.esriVersion}/init.js', async)
