extends ../_layout.jade

block head
  title #{home.title}

block content
  +navigation(global.pages, 'home')

  div.box TODO: carousel

  div.box
    div #{home.alerts.title}
    div #{home.alerts.description}
    div: button #{home.alerts.button}

  div.box
    div #{home.analyze.title}
    div #{home.analyze.description}
    div: a(href='/#{language}/map'): button #{home.analyze.button}

  div.box
    div #{home.social.title}
    div #{home.social.description}
    div: a(target='_blank' href='https://twitter.com/search?q=MelawanAsap%20OR%20Indonesiafires&src=typd'): button #{home.social.button}

