extends ../_layout.jade

block head
  title #{home.meta.title}
  link(rel='stylesheet' href='css/home.css')

block content
  +navigation(global.pages, 'home')

  section
    div.box TODO: carousel

  div.action-menu

    section

      div.action-menu__item
        div.action-menu__item__icon--alerts
        div.action-menu__item__title #{home.alerts.title}
        div.action-menu__item__description #{home.alerts.description}
        div: button#alerts.button--green #{home.alerts.button}

      div.action-menu__item
        div.action-menu__item__icon--analysis
        div.action-menu__item__title #{home.analyze.title}
        div.action-menu__item__description #{home.analyze.description}
        div: a(href='/#{language}/map'): button.button--green #{home.analyze.button}

      div.action-menu__item
        div.action-menu__item__icon--social
        div.action-menu__item__title #{home.social.title}
        div.action-menu__item__description #{home.social.description}
        div: a(target='_blank' href='https://twitter.com/search?q=MelawanAsap%20OR%20Indonesiafires&src=typd'): button.button--green #{home.social.button}

  div#modal-container.modal-container.box(style='display:none;')
    div.modal-background
    article.modal-shadow
      div#close-icon.close-icon.pointer(title='close') x
      div.modal-content.custom-scroll
        div
          div #{home.alerts.modal.title}
          div
           | #{home.alerts.modal.content[0].trim() + ' '}
           a(href='/#{language}/map') #{home.alerts.modal.content[1].trim()}
           | #{' ' + home.alerts.modal.content[2].trim()}

  script.
    document.getElementById('alerts').onclick = function() {
      document.getElementById('modal-container').style.display = 'block';
    };
    document.getElementById('close-icon').onclick = function() {
      document.getElementById('modal-container').style.display = 'none';
    };
