extends ../_layout.jade

block append head-meta
  title #{home.meta.title}

block append head-styles
  link(rel='stylesheet' href='css/home.css')

block content
  +navigation(global.pages, 'home', true)

  div.home-slider-container.relative(style='overflow:hidden')
    nav.mobile-hide.home-nav
      h2.shadow #{home.explore}
        div.inline-block
          a(href='../map', title=home.exploreAlt, alt=home.exploreAlt)
            button.button--round.text-white.back-gfw-red #{home.view}

    section.slider-section
      ul.home-slider
        li.slide.pointer
          a(href='../map')
            div.inner.relative
              aside
                h2 #{home.slides[0][0]}
                h3 #{home.slides[0][1]}
                div.slide-link
                  span.mobile-hide #{home.slider.moreInfo}
                  span.mobile-show +
        li.slide.pointer
          a(href='../map')
            div.inner.relative
              aside
                h2 #{home.slides[1][0]}
                h3 #{home.slides[1][1]}
                div.slide-link
                  span.mobile-hide #{home.slider.moreInfo}
                  span.mobile-show +
        li.slide.pointer
          a(href='../map')
            div.inner.relative
              aside
                h2 #{home.slides[2][0]}
                h3 #{home.slides[2][1]}
                div.slide-link
                  span.mobile-hide #{home.slider.moreInfo}
                  span.mobile-show +
        li#alerts1.slide.pointer
          div.inner.relative
            aside
              h2 #{home.slides[3][0]}
              h3 #{home.slides[3][1]}
              div.slide-link
                span.mobile-hide #{home.slider.moreInfo}
                span.mobile-show +
        li.slide.pointer
          a(href='../story')
            div.inner.relative
              aside
                h2 #{home.slides[4][0]}
                h3 #{home.slides[4][1]}
                div.slide-link
                  span.mobile-hide #{home.slider.moreInfo}
                  span.mobile-show +

  div.action-menu
    section
      div#alerts2.action-menu__item
        div.action-menu__item__icon--alerts
        div.action-menu__item__title #{home.alerts.title}
        div.action-menu__item__description #{home.alerts.description}

      div.action-menu__item
        a(href='/#{language}/map')
          div.action-menu__item__icon--analysis
          div.action-menu__item__title #{home.analyze.title}
          div.action-menu__item__description #{home.analyze.description}

      div.action-menu__item
        a(target='_blank' href='https://twitter.com/search?q=MelawanAsap%20OR%20Indonesiafires&src=typd')
          div.action-menu__item__icon--social
          div.action-menu__item__title #{home.social.title}
          div.action-menu__item__description #{home.social.description}

  div#alerts-modal.alerts-modal.modal-wrapper
    div.modal-container
      div.modal-background
      article.modal.shadow
        div#close-icon.close-icon.pointer(title='close')
          svg: use(xlink:href="#shape-close")
        div.modal-title #{home.alerts.modal.title}
        div.modal-content.custom-scroll
          div
            p
             | #{home.alerts.modal.content[0].trim() + ' '}
             a.text-gfw-red(href='/#{language}/map') #{home.alerts.modal.content[1].trim()}
             | #{' ' + home.alerts.modal.content[2].trim()}

  script.
    $('.home-slider').slick({
      lazyLoad: 'ondemand',
      pauseOnHover: false,
      autoplaySpeed: 4500,
      autoplay: true,
      arrows: false,
      fade: true,
      dots: true
    });
    window.addEventListener('load', function () {
      document.getElementById('alerts1').onclick = function () { document.getElementById('alerts-modal').classList.toggle('open'); };
      document.getElementById('alerts2').onclick = function () { document.getElementById('alerts-modal').classList.toggle('open'); };
      document.getElementById('close-icon').onclick = function () { document.getElementById('alerts-modal').classList.toggle('open'); };
    });
