include html/_mixins.jade
doctype
html
  head
    block head-meta
      include html/_meta.jade


    block head-styles
      link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,300' rel='stylesheet' type='text/css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css')
      link(rel='stylesheet' href='../css/site.css')
      style
        :stylus
          @require '../css/_critical'

    block head-scripts
      script(src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async="")
      script(src='https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js')
      script.
        setTimeout(function(){
          var a=document.createElement("script");
          var b=document.getElementsByTagName("script")[0];
          a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0034/1133.js?"+Math.floor(new Date().getTime()/3600000);
          a.async=true;
          a.type="text/javascript";
          b.parentNode.insertBefore(a,b)}, 1);

      script.
        window.liveSettings = {
          picker: '#transifexTranslateElement',
          api_key: "9eda410a7db74687ba40771c56abd357",
          detectlang: false,
          site: 'gfw-fires',
          menuOptions:
          {
            options: [
              {
                title: 'logo',
                url: '/home'
              },
              {
                title: 'gfw fires',
                url: '/home',
              },
              {
                title: 'map',
                url: '/map',
              },
              {
                title: 'learn more',
                url: '/about',
              },
              {
                title: 'share stories',
                url: '/story',
              },
            ],
          },
        }
    script(src='https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
    script(src='http://gfw-assets.s3.amazonaws.com/static/gfw-assets.nightly.js' async='true' data-current='.shape-fires' id='loader-gfw' defer)

    include html/_ie9.html
    include html/_svgAssets.jade

    div.headerGfw-wrapper
      div#headerGfw.headerGfw

    block content

    div#footerGfw.footerGfw

    block body-scripts
      script.
        // language and mobile navigation functionality
        $(document).ready(function() {
          //- document.getElementById('navigation--language').onchange = function (event) { location.pathname = location.pathname.replace(/\/.{2}\//g, event.target.value); };
          //- document.getElementById('mobile-navigation--language').onchange = function (event) { location.pathname = location.pathname.replace(/\/.{2}\//g, event.target.value); };
          document.getElementById('mobile-navigation-icon').onclick = function (event) { document.getElementById('mobile-navigation').classList.toggle('open'); document.body.classList.toggle('no-overflow'); document.getElementById('mobile-navigation-icon').classList.toggle('active'); };
        });


        // embedded version
        window.version = '3.20'
